<nav class="navbar">
    <a class="__header" href="/">
        <header>Hub</header>
    </a>

    <ul class="nav__option">
        <a href="/">
            <li class="option">Home</li>
        </a>
        <a href="/movies">
            <li class="option">Movies</li>
        </a>

        <a href="/series">
            <li class="option">Series</li>
        </a>

        <a href="/watchlater">
            <li class="option">Watch Later</li>
        </a>

        <a href="/about">
            <li class="option">About</li>
        </a>

    </ul>

    <div class="search-section">
        <form action="/movie" method="POST" id="search" class="form-inline">
            <input name="moviename" type="text" class="form-control" id="search-input" placeholder="Search Here"
                autocomplete="off">
            <button class="button-11" role="button" type="">Search</button>
        </form>

        <div class="autocom-box" id="search-recomend-container">
        </div>
    </div>

    <div class="hamburger-container">
        <div id="menu">
            <div id="menu-bar">
                <div id="bar1" class="bar"></div>
                <div id="bar2" class="bar"></div>
                <div id="bar3" class="bar"></div>
            </div>
            <nav class="nav" id="nav">
                <ul>
                    <li><a href="/">Home</a></li>
                    <li><a href="/movies">Movies</a></li>
                    <li><a href="/series">Series</a></li>
                    <li><a href="/watchlater">Watch Later</a></li>
                    <li><a href="/about">About</a></li>
                </ul>
            </nav>
        </div>

        <div class="menu-bg" id="menu-bg"></div>
    </div>
</nav>