  <nav class="navbar">
            <a class="__header" href="/">
                <header>Hub</header>
            </a>

            <ul class="nav__option">
                <a href="/">
                    <li class="option">Home</li>
                </a>
                <a href="/movies">
                    <li class="option">Movies</li>
                </a>

                <a href="/series">
                    <li class="option">Series</li>
                </a>

                <a href="/watchlater">
                    <li class="option">Watch Later</li>
                </a>

                <a href="/about">
                    <li class="option">About</li>
                </a>

            </ul>

            <div class="search-section">
                <form action="/" method="POST" id="search" class="form-inline">
                    <input name="moviename" type="text" class="form-control" id="search-input"
                        placeholder="Search Here">
                    <button class="button-11" role="button" type="">Search</button>
                </form>
            </div>

        </nav>
