@import url('https://fonts.googleapis.com/css2?family=Crimson+Pro&family=Lora&family=Montserrat&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono:wght@300;400&family=Noto+Sans&family=Open+Sans:wght@500&display=swap');

* {
    box-sizing: border-box;
    font: inherit;
    color: inherit;
    margin: 0;
    padding: 0;
}

.remove-display {
    display: none;
}

.enable-display {
    display: block;
}

.navbar {
    display: flex;
    border-bottom: 1px solid #3D3D3D;
}

.__header {
    flex-grow: 2;
    font-family: "Crimson Pro";
    font-weight: 700;
    font-size: 32px;
    margin: 24px;

}

.nav__option>a,
.navbar>a {
    text-decoration: none;
}

.nav__option {
    flex-grow: 1;
    display: flex;
    list-style: none;

}

.search-section {
    flex-grow: 1;
    margin: 32px;
    position: relative;
}

.form-inline {
    display: flex;
}

.form-inline>input {
    outline: none;
    height: 2em;
    border: none;
    flex-grow: 1;
    border-bottom: 1px solid black;

}

.autocom-box {
    position: absolute;
    width: 100%;
    z-index: 1;
    background-color: white;
}

.autocom-box>li {
    list-style: none;
}

.option {
    font-family: "Montserrat";
    font-weight: 700;
    font-size: 18px;
    margin: 32px;
    padding-bottom: 8px;
    border-bottom: 2px solid transparent;
    transition: border-bottom 0.3s ease-in-out;
}

.option:hover {
    cursor: pointer;
    border-bottom: 2px solid red;
}

.sorting-style {
    padding: 10px;
    display: flex;
    justify-content: flex-end;
}

.sorting-style>span {
    padding: 5px;
    transition: all 0.3s ease-in-out;
}

.sorting-style>span:hover {
    cursor: pointer;
    border-radius: 5px;
    background: black;
    color: white;
}

.material-symbols-outlined {
    font-variation-settings:
        'FILL' 0,
        'wght' 700,
        'GRAD' 0,
        'opsz' 48;
}

.icon-size {
    font-size: 2rem;
}

.card-container {
    padding: 20px 40px;
}


.card-container>.card-box-container {
    /* border: 3px dotted red; */
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.card-box {
    height: max-content;
    position: relative;
    max-width: 250px;
    min-height: 530px;
    position: relative;
    /* margin-right: 60px; */
    margin-bottom: 20px;
    border-radius: 8px;
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
}



.card-box>h1 {
    font-family: 'Chivo Mono', monospace;
    color: white;
    font-size: 1.5em;
    position: absolute;
    top: 0;
    left: 0;
}

.card-box>span {
    font-size: 1.8em;
    color: white;
    position: absolute;
    top: 0;
    right: 0;

}

.card-image {
    width: 100%;
    min-height: 400px;
    -moz-border-radius: 0px;
    -webkit-border-radius: 8px 8px 0px 0px;
    border-radius: 8px 8px 0px 0px;
}

.list-card-image {
    max-width: 100px;
    display: block;
    height: auto;
}

.card-info {
    padding: 10px;
    padding-left: 8px;
    position: relative;
}

.card-info>h3 {
    font-family: 'Open Sans', sans-serif;
    font-size: 20px;
}

.card-button {
    height: 30px;
}

.card-button:hover {
    cursor: pointer;
}

.card-main-footer {
    width: 100%;
    border-end-end-radius: 8px;
}

.card-footer {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 5px;
    position: absolute;
    bottom: 0;
}

.list-card-footer {
    display: flex;
    padding: 5px;
    bottom: 0;
}

.card-footer>a,
.list-card-footer>a {
    text-decoration: none;
    padding: 2px;
}


.list-box {
    width: 100%;
    border-bottom: 1px solid rgba(0, 0, 0, .125);
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 1.5rem;
}

/* .list-box>h3 {
    max-width: 5px;
    font-family: 'Noto Sans', sans-serif;
    font-size: 2rem;
} */

.list-box>h3 {
    font-family: 'Noto Sans', sans-serif;
    font-size: 1.5rem;
}

.list-button {
    margin: 0 5px;
}

/*Button Style CSS */


.button-11 {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 6px 14px;
    font-family: -apple-system, BlinkMacSystemFont, 'Roboto', sans-serif;
    border-radius: 6px;
    color: #3D3D3D;
    background: #fff;
    border: none;
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1);
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
    transition: all 0.3s ease-in-out;
}

.card-footer-button {
    border: 1px solid black;
}

.button-11:hover {
    cursor: pointer;
    background: black;
    color: white;
}

.button-11:focus {
    box-shadow: 0px 0.5px 1px rgba(0, 0, 0, 0.1), 0px 0px 0px 3.5px rgba(58, 108, 217, 0.5);
    outline: 0;
}

.list-items {
    padding: 10px 5px;
    color: black;
    font-family: 'Open Sans', sans-serif;
}

.list-items:hover {
    background-color: #aba5a5;
}


/* hamburger menu */


#menu {
    z-index: 2;
    /* display: none; */
}

#menu-bar {
    width: 35px;
    height: 40px;
    margin: 40px 0 20px 20px;
    cursor: pointer;
}

.bar {
    height: 5px;
    width: 100%;
    background-color: #DC052D;
    display: block;
    border-radius: 5px;
    transition: 0.3s ease;
}

#bar1 {
    transform: translateY(-4px);
}

#bar3 {
    transform: translateY(4px);
}

.nav {
    transition: 0.3s ease;
    display: none;
}

.nav ul {
    padding: 0 22px;
}

.nav li {
    list-style: none;
    padding: 12px 0;
}

.nav li a {
    color: white;
    font-size: 20px;
    text-decoration: none;
}

.nav li a:hover {
    font-weight: bold;
}

.menu-bg,
#menu {
    position: absolute;
    top: 0;
    right: 0;
}

.menu-bg {
    z-index: 1;
    width: 0;
    height: 0;
    margin: 30px 0 20px 20px;
    background: radial-gradient(circle, #DC052D, #DC052D);
    border-radius: 50%;
    transition: 0.3s ease;
}


.change {
    display: block;
}

.change .bar {
    background-color: white;
}

.change #bar1 {
    transform: translateY(4px) rotateZ(-45deg);
}

.change #bar2 {
    opacity: 0;
}

.change #bar3 {
    transform: translateY(-6px) rotateZ(45deg);
}

.change-bg {
    width: 520px;
    height: 460px;
    transform: translate(55%, -20%);
}

.hamburger-container{
    display: none;
}

/* media query */

/* testing */
/* @media only screen and (max-width:1040px){
    body{
        display: none;
    }
} */


@media only screen and (max-width:1040px) {
    .navbar {
        justify-content: space-between;
    }

    .nav__option {
        display: none;
    }

    .__header {
        width: 40%;
    }

    .search-section {
        width: 100%;
    }

    .hamburger-container {
        display: block;
        width: 40%;
    }

}

@media only screen and (max-width:486px) {
    .__header{
        width: 5%;
    }

}